@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
          font-family: "Work Sans", sans-serif;
        }

        .container-center{
          max-width:500px;
          margin:auto;
        }

        .container-fluid{
          padding: 0px 20px;
        }