body{
     color:rgb(255, 30, 0);
}

h3{
     color:purple;
}

h2{
     color:pink;
}

h1{
     color:gold;
}

p{
     color:aquamarine;
}

#centre-container {
 color:royalblue;
}

.divi {
     color:green;
}